.container {
    width: 700px;
    height: 1000px;
    counter-reset: li; 
    list-style: none; 
    font: 20px "Trebuchet MS", "Lucida Sans";
    padding: 10px;
    text-shadow: 0 1px 0 var(--text-shadow-color);   
    text-indent: 6px;
}

.container a {
    position: relative; 
    display: block;
    padding: .5em .4em .5em 2em; 
    margin: .5em 0;
    background: var(--link-background); 
    color: var(--text-color);
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container a:hover:before {
    transform: rotate(360deg);
}

.container a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -0.4em;
    top: 50%;
    margin-top: -1.3em;
    background: var(--circle-background);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid var(--border-color);
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

:root {
    --text-shadow-color: rgba(255, 255, 255, 0.5);
    --link-background: #DAD2CA;
    --text-color: #444;
    --circle-background: #8FD4C1;
    --border-color: #ffffff;
}

body {
    padding: 30px;
}

.header {
    text-align: center;
    right: 120px;
    font-size: 25px;
}

.container button {
    width: 150px;
    height: 28px;
    font-size: 17px;
    margin: 30px;
    margin-left: 120px;
}

.buttomSort {
    border: 3px solid blue;
    background: rgb(149, 141, 141);
    border-radius: 20px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border: 5px solid gray;
     border-radius: 50%;
    border-left-color: transparent;
    animation: loader 1s infinite;
}
    
@keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    } 
}

.Input {
    margin-top: 5px;
    margin-left: 90px;
    width: 500px;
    height: 30px;
    border: 3px solid black;
    font-size: 20px;
}
